/* css reset | @yojeero | https://github.com/yojeero */

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
	font-size: 100%;
	line-height: 1.3;
	text-size-adjust: 100%;
}

body {
	height: 100vh;
}

img,
picture {
	max-width: 100%;
	display: block;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
	margin: 0;
}

h1,
h2,
h3,
h4,
button,
input,
label {
	line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
	font-size: inherit;
	font-weight: inherit;
}

input,
button,
textarea,
select {
	font-family: inherit;
	font-size: inherit;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	color: currentColor;
	cursor: pointer;
	text-decoration: none;
}

/* ---- font ------ */

@font-face {
	font-family: Jost;
	font-weight: 400;
	font-style: normal;

	font-display: swap;
	src: url('../fonts/jost.woff2') format('woff2');
}


@font-face {
	font-family: 'Tulpen One';
	font-weight: 400;
	font-style: normal;

	font-display: swap;
	src: url('../fonts/tulpen-one.woff2') format('woff2');
}

/* ---- main ------ */

body {
	font-family: 'Jost', 'Segoe UI', 'Helvetica Neue', system-ui;
	font-size: 1rem;
	font-weight: 400;

	transition: all .5s ease-in-out;
	transition: color 1s;
	letter-spacing: 1px;

	margin: 0;
	padding: 0;

	color: #6d7a7b;
	background: #c2dce3;
}

.container {
	z-index: 1;

	display: flex;
	align-items: center;
	justify-content: center;

	width: 100%;
	height: 100%;

	margin: 0;
	padding: 0;

	background: url(../img/snow.svg) no-repeat center;
	background-size: cover;
}

.player {
	z-index: 999;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;

	/* width : 320px;
	height : 680px;  */

	width: 20rem;
	height: 42.5rem;

	margin: 0;
	padding: 0;

	transition: all .5s ease-in-out;

	border-radius: 40px;

	background: #dceef2;
	border: 2px solid #fff;
	box-shadow: -2px -1px 0 #fff, 4px 4px 0 #1ba7bf;
}

.top-icon {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: flex-end;

	width: 80%;
	height: 3.375rem;
	min-height: 54px;
}

.live-time {
	display: flex;

	margin-right: 1rem;

	user-select: none;
	pointer-events: none;

	color: #fff;
}

.point {
	font-size: .875rem;
	font-variant: small-caps;

	display: flex;
}

.point a svg {
	display: flex;

	width: 1.5rem;
	height: 1.5rem;

	cursor: pointer;
	transition: all .3s ease;

	color: #00b4d8;

	fill: currentColor;
	stroke: currentColor;
	stroke-width: 0;
}

.live-time svg {
	display: flex;

	width: 1.25rem;
	height: 1.25rem;

	cursor: pointer;
	transition: all .3s ease;

	fill: currentColor;
	stroke: currentColor;
	stroke-width: 0;
}

.point svg:hover {
	color: #463f3a;
}

.online {
	font-size: .875rem;

	display: flex;
	display: none;

	margin-right: 1rem;

	user-select: none;
	pointer-events: none;

	color: #121212;
}

input[type=checkbox] {
	visibility: hidden;

	width: 0;
	height: 0;
}

input[type=checkbox]:checked {
	outline: none;
}

input:focus,
input:active {
	outline: none;
}

.cover-img {
	position: relative;

	display: flex;
	flex: 1;

	/* width : 316px;
	height : 420px;	*/

	width: 19.75rem;
	height: 26.25rem;
}

.album-img {
	position: absolute;

	width: 100%;
	height: 100%;

	border-top-left-radius: 40px;
	border-top-right-radius: 40px;

	background-size: cover;
}

.progress {
	display: flex;
	align-items: flex-start;
	flex-flow: row nowrap;

	width: 19.75rem;
	height: 4px;

	user-select: none;
	pointer-events: none;
}

.progress_bar {
	position: relative;
	z-index: 800;

	display: inline-block;
	overflow: hidden;

	width: 100%;
	height: 4px;

	user-select: none;
	pointer-events: none;

	background: #fff;
}

.line {
	position: absolute;
	z-index: 900;

	width: 0;
	height: inherit;

	background: #dceef2;
}

.main {
	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-between;

	width: 100%;
	height: 7.875rem;
	min-height: 126px;

	padding: 0 1rem 0 2rem;

	color: #000;

	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;

	background: #eef6f8;
}

.album-info {
	display: flex;
	flex-direction: column;

	width: 50%;

	user-select: none;
	text-align: left;
	pointer-events: none;
}

.name {
	font-size: .8125rem;
}

.artist {
	font-size: .75rem;
}

.player-controls {
	z-index: 999;

	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: center;

	width: 50%;
}

.pn-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	cursor: pointer;
	outline: none;
}

.pn-icon svg {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 1.5rem;
	height: 1.5rem;

	cursor: pointer;
	transition: all .3s ease;

	color: #000;

	fill: currentColor;
	stroke: currentColor;
	stroke-width: 0;
}

.pn-icon svg:hover {
	width: 1.75rem;
	height: 1.75rem;

	color: #00b4d8;
}

.xl-icon {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 3.5rem;
	height: 3.5rem;

	margin: 0 .5rem;
	padding: 0;

	cursor: pointer;
	transition: all .2s ease-in-out;

	border-radius: 50%;
	outline: none;
	background: #eef6f8;
	box-shadow: 5.11px 5.11px 10px #cbd2d4, -5.11px -5.11px 10px #fff;
}


.xl-icon svg {
	display: flex;
	align-items: center;
	justify-content: center;

	width: 2.25rem;
	height: 2.25rem;

	cursor: pointer;

	color: #000;

	fill: currentColor;
	stroke: currentColor;
	stroke-width: 0;
}

.xl-icon:hover {
	border-radius: 100%;
	background: #eef6f8;
	box-shadow: inset 5.11px 5.11px 10px #cbd2d4,
		inset -5.11px -5.11px 10px #fff;
}

.xl-icon svg:hover {
	color: #000;
}

.bottom-clock {
	font-family: 'Tulpen One', cursive;

	display: flex;
	align-items: center;
	flex-flow: row nowrap;
	justify-content: space-evenly;

	user-select: none;
	pointer-events: none;

	width: 80%;
	height: 4rem;
	min-height: 64px;
}

#time {
	font-size: 2rem;
	letter-spacing: .2rem;

	color: #463f3a;
}

#day {
	font-size: 1.25rem;

	letter-spacing: .4rem;
	text-transform: uppercase;

	color: #00b4d8;
}

/* cover effect */
.scale-out-enter-active {
	transition: all .35s ease-in-out;
}

.scale-out-leave-active {
	transition: all .35s ease-in-out;
}

.scale-out-enter {
	transform: scale(.55);
	pointer-events: none;
	opacity: 0;
}

.scale-out-leave-to {
	transform: scale(1.2);
	pointer-events: none;
	opacity: 0;
}

.scale-in-enter-active {
	transition: all .35s ease-in-out;
}

.scale-in-leave-active {
	transition: all .35s ease-in-out;
}

.scale-in-enter {
	transform: scale(1.2);
	pointer-events: none;
	opacity: 0;
}

.scale-in-leave-to {
	transform: scale(.55);
	pointer-events: none;
	opacity: 0;
}

/* loader */

.loader {
	position: absolute;
	z-index: 9999;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: auto;

	background: #f1f1f1;
}

.loader svg {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	width: 3.125rem;
	height: 3.125rem;

	margin: auto;
}

.loader svg polygon {
	animation: dash 2.5s cubic-bezier(.35, .04, .63, .95) infinite;
	stroke-dasharray: 17;
}

@keyframes dash {
	to {
		stroke-dashoffset: 136;
	}
}


/*  Responsive mobile   */

@media (max-width: 52.5rem)
/*  screen max 840px   */
	{

	.container {
		background-image: none;
		background-color: #dceef2;
	}

	.player {
		width: 100dvw;
		height: 100dvh;

		border-radius: 0;
		box-shadow: none;
	}

	.live-time svg,
	.colors svg {
		width: 1.5rem;
		height: 1.5rem;
	}

	.album-img {
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	.main {
		padding: 0 2rem 0 3rem;

		border-bottom-right-radius: 0;
		border-bottom-left-radius: 0;
	}

	.name {
		font-size: 1rem;
	}

	.artist {
		font-size: .8125rem;
	}

	.cover-img {
		width: 100dvw;
		height: 100dvh;
	}

	.pn-icon svg {
		width: 2rem;
		height: 2rem;
	}

	.pn-icon svg {
		width: 2rem;
		height: 2rem;
	}

	.xl-icon {
		width: 4.25rem;
		height: 4.25rem;
	}

	.xl-icon svg {
		width: 2.75rem;
		height: 2.75rem;
	}

}